<!DOCTYPE html>
<html>
<head>
    <title>Poolie!</title>
</head>
<body>
  <div class="header">
    <h1>Login</h1>
  </div>
  <div>
    <%= form_for(:session, url: login_path) do |form|%>
        <div>
            <%= form.label :email %>
            <%= form.text_field :email, placeholder: "Enter Email", required: true %>
        </div>
        <div>
            <%= form.label :password %>
            <%= form.password_field :password, placeholder: "Enter Password", required: true %>
        </div>
        <button type="submit" class="loginbtn">Log In!</button><br><br>
    <% end %>
    </div>
    <a href="/new-user">Create New User</a>
</body>
</html>