<!DOCTYPE html>
<html>
<head>

<style>
  body {
         background-image: url("https://res.cloudinary.com/spothopper/image/fetch/f_auto,q_80,c_fit,h_864/http://static.spotapps.co/spots/ca/0c05f0950911e8afe7b52bc6a705c7/:original");
         margin-left: auto;
         margin-right: auto;
         background-repeat: no-repeat;
         background-size: cover;
                  }


</style>



</head> 
<body>
<h1  style="color:red;">LOG IN!</h1>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs" style="color:white;">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: 'btn-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</body>
</html>