<!DOCTYPE html>
<html>
<head></head>
<body>
    <h2>Table Options!</h2>
    
    <%= form_with(url: "/new-table", method: "POST") do |form| %>
        <h3>Warning! Singleplayer and Multiplayer are mutually exclusive</h3>
        <h3>Warning! Ranked and Unranked are mutually exclusive!</h3>
        <div>
            <%= form.label :table_name %><br>
            <%= form.text_field :table_name, placeholder: "Enter a table name"%>
           
        </div>
        <div>
            <%= form.label :multiplayer %>
            <%= form.check_box :multiplayer %>
        </div>
        <div>
            <%= form.label :ranked %>
            <%= form.check_box :ranked %>
        </div>
        <%= form.submit("Create Table!")%>
    <% end %>
    <a href="/tables">Go back to Current Tables!</a>
</body>
</html>